<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/estilos.css">
</head>
<body>

<div class="logo">Re-Read</div>

<div class="header">
  <h1>Re-Read</h1>
  <p>En Re-Read podrás encontrar libros de segunda mano en perfecto estado. También vender los tuyos. Porque siempre hay libros leídos y libros por leer. Por eso Re-compramos y Re-vendemos para que nunca te quedes sin ninguno de los dos.</p>
</div>

<div class="row">
  
  <div class="column left">
    <div class="topnav">
        <a href="../index.html">Re-Read</a>
        <a href="libros.html">Libros</a>
        <a href="ebooks.html">eBooks</a>
      </div>
      
    <h3>Toda la actualidad en eBook</h3>
    
    <div class="eBook">
      <a href="https://www.amazon.es/Ultimo-deseo-Geralt-Alamut-Fantástica/dp/8498890373/ref=sr_1_1?__mk_es_ES=ÅMÅŽÕÑ&crid=2XKVBNZSYHD4K&dchild=1&keywords=saga+geralt+de+rivia&qid=1600765706&s=books&sprefix=saga+%2Cstripbooks%2C201&sr=1-1"><img src="../img/1.jpg" alt="eBook 1">
      <div>Ultimo deseo - Saga Geralt de Rivia 1 tela (Alamut Serie Fantástica)</div>
      </a>
    </div>
    <div class="eBook">
      <a href="https://www.amazon.es/Espada-del-destino-Geralt-Fantástica/dp/8498890438/ref=sr_1_2?__mk_es_ES=ÅMÅŽÕÑ&crid=2XKVBNZSYHD4K&dchild=1&keywords=saga+geralt+de+rivia&qid=1600765706&s=books&sprefix=saga+%2Cstripbooks%2C201&sr=1-2"><img src="../img/2.jpg" alt="eBook 2">
      <div>Espada del destino - Saga Geralt de Rivia 2 tela (Alamut Serie Fantástica)</div>
      </a>
    </div>
    <div class="eBook">
      <a href="https://www.amazon.es/Torre-golondrina-Geralt-Alamut-Fantástica/dp/8498890578/ref=sr_1_3?__mk_es_ES=ÅMÅŽÕÑ&crid=2XKVBNZSYHD4K&dchild=1&keywords=saga+geralt+de+rivia&qid=1600765706&s=books&sprefix=saga+%2Cstripbooks%2C201&sr=1-3"><img src="../img/3.jpg" alt="eBook 3">
      <div>Torre de la golondrina - Saga Geralt de Rivia 6 tela (Alamut Serie Fantástica)</div>
      </a>
    </div>
    <div class="eBook">
      <a href="https://www.amazon.es/Tiempo-odio-Geralt-Alamut-Fantástica/dp/8498890535/ref=sr_1_5?__mk_es_ES=ÅMÅŽÕÑ&crid=2XKVBNZSYHD4K&dchild=1&keywords=saga+geralt+de+rivia&qid=1600765706&s=books&sprefix=saga+%2Cstripbooks%2C201&sr=1-5"><img src="../img/4.jpg" alt="eBook 4">
      <div>Tiempo de odio - Saga Geralt de Rivia 4 tela (Alamut Serie Fantástica)</div>
      </a>
    </div>
  </div>
  
  <div class="column right">
    <h2>Side</h2>
    <p>Cien años de soledad</p>
    <p>Cronicas de una muerte anunciada</p>
    <p>El otoño del patriarca</p>
    <p>El general en su laberinto</p>
  </div>
</div>
  
</body>
</html>
